
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                                    /* header*/

header{
    position: absolute;
    height: 100%;     
}

a{
    text-decoration:none;
}


.header-content nav{
    float: left;
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 100px;
 
 }

.header-content li{
    display: block; 
    margin-top: 70px;
    margin-bottom: 70px; 
}

.navbar ul {
    
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color:transparent;
    position: flex;
    height: auto;
    overflow: auto;
    border:2px solid #443035 ;
    border-radius: 20px;
    text-align: center;
    border: 35px solid transparent;
    padding: 15px;
    border-radius: 30px;
    border-image: url("../images/border2.png") 13% stretch;
    border-image-outset:10px;
    font-family: 'Padauk', sans-serif;
    transition: transform .5s ease;
    overflow: hidden;
    
  }

  .navbar ul:hover{
    transform: scale(1.05);
  }
  



.header-content nav ul li a{
    color:black;
    padding: 10px;
    margin: auto;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    line-height: 30px;  
}

li a:hover:not(.active){
    background-color:#f2d09d; 
    border:2px solid #382506; 
    color: #ffffd6;
    border-radius: 25px;  
}

.active{
    background-color:#f2d09d; 
    border:2px solid #382506; 
    border-radius: 25px;    
} 



                                        /* home */

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/unit.jpg");
    background-repeat: repeat;
}

.logo{
    text-align: center;
    
}

.logo img{
    max-width: 300px;
    
}

 .background img{
    width:40vw ;
    height:auto;
    padding: 30px;
    margin-left:30% ;
    border-radius: 10px;
    transition: transform .5s ease;
}

.background{
    height: auto; 
    overflow: hidden;
}

.background:hover img {
    transform: scale(1.05);
  }


.desc{
    float: right;
    font-size: 20px;
    margin-left: 65%;
    margin-right: 5%;
    margin-top: -28%;
    line-height: 30px;
    text-align: center;
    height: auto;
    width: 20vw;
    border: 35px solid transparent;
    padding: 15px;
    background-image: url("../images/unit2.jpg");
    background-repeat: repeat;
    border-radius: 30px;
    border-image: url("../images/border.png") 13% stretch;
    border-image-outset:10px;
    font-family: 'Padauk', sans-serif;
    transition: transform .5s ease;
    overflow: hidden;

}
.desc:hover{
    transform: scale(1.05);
}

.text p{
    font-size: 60px;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;   
    border-radius: 50px;
    line-height: 80px;
    margin-bottom: 5%; 
    font-family: 'Fredericka the Great', cursive;
}  
   

                                   /* footer */

 .footer-distributed{
     border-top: 2px dashed rgb(165, 91, 42);
     width: 100%;
     height:100%;
     text-align: left;
     font: bold 16px sans-serif;  
 }

.home{  
    background-image:url("../images/bp.jpg");
    background-size: cover;   /*css3*/
}   
.overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
 }
 
 /* Footer left */
 
.footer-distributed .footer-left{
    width: 40%;
    margin-top: 7%;
    margin-left:5% ;
}
 
.footer-distributed h3 span{
    color:  lightseagreen;
}
 
.footer-distributed .name{
    color:  #ffffff;
    font-size: 17px;
    font-weight: normal;   
}
 
 /* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
    margin-top: 60px;
    margin-bottom: 50px;
}
 
.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
 
.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
}
 
.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.mn{
    color: rgb(155, 218, 226);
}

 /* Footer Right */

.footer-distributed .footer-icons{
    margin-top: 56%;
}
 
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 20px;
    margin-bottom: 5px;
}







                                
